header {
  border-bottom: 1px solid gray;
  padding: 20px;
}
nav {
  border-right:1px solid gray;
  width:200px;
  float:left;
  height:600px;
}
nav ol {
  list-style: none;
}
article {
  float:left;
  padding:20px
}
h2 {
  font-size:50px;
}
#control{
  float:right;
}
body.black{
  background-color:black;
  color:white;
}
body.white{
  background-color:white;
  color:black;
}

header img{
  float:right;
  height:100px
}
